body {
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
    position: relative;
    top: 0px; left: 0px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    background-color: #f5f5f5;
}
    
.top-bar ul {
    list-style: none;
}

.top-bar  ul li {
    display: inline;
    color: #828282;
}

.top-bar p {
    color: #828282;
}

.top-bar a {
    text-decoration: none;
    color: #828282;
}

.account {
    color: #828282;
}

.login p {
    position: right;
}

.login a {
    color: #14c0c9;
}